.gradle
.idea
build/
# youtube API Key
#src/main/java/com/dugi/monkey/crawling/youtube/APIKey.java

# 소셜 로그인 설정
application-oauth.properties
monkeyDugi.log*

# youtube-apikey : test용
src/test/resources/application-apikey.properties
application-apikey.properties