<footer>
    <div class="footer-interval"></div>
    <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-bottom">
        <div class="collapse navbar-collapse" id="navbarsExample03">
            <form class="form-inline my-2 my-md-0">
            </form>
        </div>
    </nav>
</footer>