<!--
* 구글 로그아웃 공통
* 개발자가 별도로 로그인 컨트롤러를 만들 필요가 없다.
* 스프링 시큐리티에서 제공을 해주기 때문에
-->
{{#memberName}}
    <span id="member">{{memberName}}</span>
    <!-- 스프링 시큐리티에서 기본적으로 제공하는 로그아웃 URL  -->
    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
{{/memberName}}