<!--
* 일간차트 tr
-->
<tr>
    <td class="rank-td"></td>
    <td class="img-td"><img src=""></td>
    <td></td>
    <td></td>
    <td class="play-td"><button type="button" class="play-btn" data-index=""><img class="dd" src=/image/play.png></button></td>
</tr>