<!DOCTYPE html>
<html lang="en">
<head>
    <title>MonkeyMusic</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/dailyChart.css">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-warning bg-warning fixed-top">
    <div class="collapse navbar-collapse" id="navbarsExample03">
        <input id="search" class="form-control" type="text" placeholder="Search" style="width: 400px;">
    </div>
    <!--  개발자가 별도로 로그인 컨트롤러를 만들 필요가 없다.
          스프링 시큐리티에서 제공을 해주기 때문에
    -->
    {{#memberName}}
        <span id="member">{{memberName}}</span>
        <!-- 스프링 시큐리티에서 기본적으로 제공하는 로그아웃 URL  -->
        <a href="/logout" class="btn btn-info active" role="button">Logout</a>
    {{/memberName}}
    {{^memberName}}
        <!-- 스프링 시큐리티에서 기본적으로 제공하는 로그인 URL  -->
        <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">GoogleLogin</a>
    {{/memberName}}
</nav>
<div class="head-interval"></div>
<!-- youtube iframe -->
<div class = "iframe-div">
    <div id="player"></div>
</div>
<div class="container">
    <h2>일간차트</h2>
    <table class="table">
        <thead>
        <tr>
            <th>순위</th>
            <th></th>
            <th>제목</th>
            <th>가수</th>
            <th>재생</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="rank-td"></td>
            <td class="img-td"><img src=""></td>
            <td></td>
            <td></td>
            <td class="play-td"><button type="button" class="play-btn" data-index=""><img class="dd" src=/image/play.png></button></td>
        </tr>
        <tr>
            <td class="rank-td"></td>
            <td class="img-td"><img src=""></td>
            <td></td>
            <td></td>
            <td class="play-td"><button type="button" class="play-btn" data-index=""><img src=/image/play.png></button></td>
        </tr>
        <tr>
            <td class="rank-td"></td>
            <td class="img-td"><img src=""></td>
            <td></td>
            <td></td>
            <td class="play-td"><button type="button" class="play-btn" data-index=""><img src=/image/play.png></button></td>
        </tr>
        <tr>
            <td class="rank-td"></td>
            <td class="img-td"><img src=""></td>
            <td></td>
            <td></td>
            <td class="play-td"><button type="button" class="play-btn" data-index=""><img src=/image/play.png></button></td>
        </tr>
        <tr>
            <td class="rank-td"></td>
            <td class="img-td"><img src=""></td>
            <td></td>
            <td></td>
            <td class="play-td"><button type="button" class="play-btn" data-index=""><img src=/image/play.png></button></td>
        </tr>
        <tr>
            <td class="rank-td"></td>
            <td class="img-td"><img src=""></td>
            <td></td>
            <td></td>
            <td class="play-td"><button type="button" class="play-btn" data-index=""><img src=/image/play.png></button></td>
        </tr>
        <tr>
            <td class="rank-td"></td>
            <td class="img-td"><img src=""></td>
            <td></td>
            <td></td>
            <td class="play-td"><button type="button" class="play-btn" data-index=""><img src=/image/play.png></button></td>
        </tr>
        <tr>
            <td class="rank-td"></td>
            <td class="img-td"><img src=""></td>
            <td></td>
            <td></td>
            <td class="play-td"><button type="button" class="play-btn" data-index=""><img src=/image/play.png></button></td>
        </tr>
        <tr>
            <td class="rank-td"></td>
            <td class="img-td"><img src=""></td>
            <td></td>
            <td></td>
            <td class="play-td"><button type="button" class="play-btn" data-index=""><img src=/image/play.png></button></td>
        </tr>
        <tr>
            <td class="rank-td"></td>
            <td class="img-td"><img src=""></td>
            <td></td>
            <td></td>
            <td class="play-td"><button type="button" class="play-btn" data-index=""><img src=/image/play.png></button></td>
        </tr>
        </tbody>
    </table>
</div>
{{>layout/footer}}
<script type="text/javascript" src="/js/dailyChart.js"></script>
</body>
</html>